<!-- call the base.html to include the format of the page navbar and footer -->
{% extends 'base.html' %}

{% block title %}Contact Us - GoodViews{% endblock %} <!-- Name of page -->

<!-- Connects to the block content to endblock part of the base.html and displays the infromation there -->
{% block content %} 
<!-- Creates a container for consstent margins and keeping the below text in one areas of the website instead of freeform.  -->
<div class="container mb-auto mt-5">
    <h2>Contact Us</h2>
    <p>Welcome to GoodViews, your go-to hub for discovering new movies and TV shows. 
        Designed for casual viewers and film enthusiasts alike, GoodViews makes it easy to explore entertainment options 
        without the hassle of creating an account or navigating complicated features. Simply browse our collection, 
        filter by genre or age rating, watch trailers, and get all the key details—from cast lists to runtime—to help you decide what to watch next.</p>
    <h5>Contact Information</h5>
    <p>Have questions, suggestions, or a feature request? Feel free to reach out to us!</p>
    <ul>
        <li>Email: support@goodviews.com</li>
        <li>General Inquiries: hello@goodviews.com</li>
        <li>Office Address: 123 Movie Way, Suite 400, Cinema City, TV 90210</li>
        <li>Hours: Monday – Friday, 9:00 AM – 5:00 PM POP</li>
    </ul>
</div>

{% endblock %}
