{% extends 'base.html' %}

{% block title %}TV Shows - GoodViews{% endblock %}

{% block content %}

<!-- Dynamic Genres Dropdown -->
<div class="dropdown">
  <button class="dropbtn">Genres</button>
  <div class="dropdown-content">
    <a href="?{% if selected_age_rating %}age_rating={{ selected_age_rating }}{% endif %}" class="btn">All Genres</a>
    
    {% for g in genres %}
      <a href="?genre={{ g.id }}{% if selected_age_rating %}&age_rating={{ selected_age_rating }}{% endif %}" class="btn">
        {{ g.genre }}
      </a>
    {% endfor %}
  </div>
</div>

<!-- Dynamic Age Ratings Dropdown -->
<div class="dropdown">
  <button class="dropbtn">Age Rating</button>
  <div class="dropdown-content">
    <a href="?{% if selected_genre %}genre={{ selected_genre }}{% endif %}" class="btn">All Ages</a>
    
    {% for ar in age_ratings %}
      <a href="?age_rating={{ ar.id }}{% if selected_genre %}&genre={{ selected_genre }}{% endif %}" class="btn">
        {{ ar.age_rating }}
      </a>
    {% endfor %}
  </div>
</div>

<!-- Reset All Button -->
{% if selected_genre or selected_age_rating %}
  <a href="{% url 'films' %}" class="btn">Reset Filters</a>
{% endif %}

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for x in tv_shows %}   
  <div class="col">
    <div class="card" style="width: 200px">   
      <img class="card-img-top" src="{{ x.poster }} alt="{{ x.tv_shows }}>
      <div class="card-body">    
      <h4 class="card-title"><b>{{ x.tv_shows }}</b></h4>
      <p class="card-text">{{ x.description }}</p>
      <iframe 
        width="560" 
        height="315" 
        src="{{ x.trailer }}" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
        </iframe>
      <p>Year: {{ x.year_of_release }}</p>
      <p>Seasons: {{ x.number_of_seasons }}</p>
      <p>Age Rating: {{ x.age_rating }}</p>
      <p>Genre: {{ x.genre }}</p>
      <p>Director: {{ x.director }}</p>
      <p>Cast: {{ x.actors }}</p>
    </div>
  </div>
</div>
{% empty %}
  <p>No shows found for this criteria.</p>
{% endfor %}



{% endblock %}
