{% extends 'base.html' %}

{% block title %}TV Shows - GoodViews{% endblock %}

{% block content %}

<div class="dropdown">
  <button class="dropbtn">Genres</button>
  <div class="dropdown-content">
    <a href="{% url 'tv_shows' %}" class="btn">All Genres</a>
    <a href="?genre=Fantasy" class="btn">Fantasy</a>
    <a href="?genre=Contemporary" class="btn">Contemporary</a>
    <a href="?genre=Coming of Age" class="btn">Coming of Age</a> 
    <a href="?genre=Romance" class="btn">Romance</a>
    <a href="?genre=Action" class="btn">Action</a>
    <a href="?genre=Drama" class="btn">Drama</a>
    <a href="?genre=Historical" class="btn">Historical</a>
    <a href="?genre=Science Fiction" class="btn">Science Fiction</a>
    <a href="?genre=Documentary" class="btn">Documentary</a>
    <a href="?genre=Dystopian" class="btn">Dystopian</a>
    <a href="?genre=Comedy" class="btn">Comedy</a>
  </div>
</div>

<div id="container" class="grid">

{% for x in tv_shows %}   
  <div class="card">   
    <img src="{{ x.poster }} alt="{{ x.tv_shows }}>
    <div class="container">    
      <h4><b>{{x.tv_shows}}</b></h4>
      <p>{{ x.description }}</p>
      <a href>{{ x.trailer }}</a>
      <p>{{ x.year_of_release }}</p>
      <p>{{ x.number_of_seasons }}</p>
      <p>{{ x.age_rating }}</p>
      <p>{{ x.genre }}</p>
      <p>{{ x.director }}</p>
      <p>{{ x.actors }}</p>
    </div>
  </div>
{% empty %}
  <p>No films found for this genre.</p>
{% endfor %}



{% endblock %}
